*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-style: radial-gradient(90deg, #2ed61e,#0ee215);
    ---color-one: #27ae1a;
    ---color-two: #4caf50;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    background: transparent;
    width: 0.8em;
}
body::-webkit-scrollbar-thumb{
    background: var(---color-one);
    border-radius: 5em;
}
/* HEADER EYE */
/*  */
.box{
   display: flex;
   gap: 1em;
}
.box .eye{
   position: relative;
   width: 120px;
   height: 120px;
   display: block;
   background: #fff;
   border-radius: 50%;
   box-shadow: 0 0px 0px silver,
                inset 0 0 10px #2ac72f,
                inset 0 0 20px #aefea6;
}
.box .eye::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 35px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 10px solid var(---color-one);
    outline: 0;
    background: #272727;
    box-sizing: border-box;
    box-shadow: 0 0 3px silver;
}
/* .box .eye::after{
    content: "";
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 35px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    border: 0.2px dotted silver;
    background: none;
    box-sizing: border-box;
} */
/* main */

main {
    display: flex;
    justify-content: center;
}

main section {
    background: #fff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    margin-top: 0;
    border-radius: 5px;
    width: 27vw;
    height: max-content;
    scale: 1;
}

main section article {
    display: flex;
    flex-direction: column;
}
main section article:nth-child(1) p{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.6em;
    color: #777;
}
.bi-dot {
    font-size: 1em;
}
#showPasswordToggle{
    margin-left: 2.2em;
}
.bi-eye-slash{
    color: var(---color-one);
}
main section article:nth-child(2){
    padding: 0.5em;
    border: none;
    outline: 1px solid silver;
    caret-color: blue;
    border-radius: 0.4em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    padding-inline: 0.7em;
}

main section article :has(input:invalid) input{
    border: 2x solid red;
}
input {
    padding: 0.2em;
    border: none;
    outline: none;
    caret-color: var(---color-one);
    padding-left: 0.7em;
    border-left: 1px solid silver;
    transition: border-color 0.3s ease;
    color: #505050;
}

input:focus + label, input:not(:placeholder-shown) + label {
    /* margin-top: -3.9em; */
    transform: translateY(-25px);
    font-size: 13.1px;
    color: var(---color-one);
    background: #fff;
    padding-inline: 0.5em;
  }

label {
    position: absolute;
    color: #777;
    margin-left: 2.5em;
    font-size: 0.9em;
    pointer-events: none;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

main section article:nth-child(3) button{
    padding: 0.5em;
    border: none;
    outline: 1px solid var(---color-one);
    border-radius: 0.4em;
    text-align: center;
    padding-inline: 0.7em;
    font-weight: 600;
    color: #fff;
    background: var(---color-one);
    border: none;
}
main section article:nth-child(3) button:focus{
    outline: 1px solid var(---color-one);
}
main section article:nth-child(3) button:active{
    outline: 1px solid yellow;
}

#textValide,#UpperCaseValide,#specialCharacterValide,#numberValide{
    font-size: 0.9em;
    width: max-content;
    text-transform: capitalize;
    /* display: none; */
}

#required{
    position: absolute;
    background: #000;
    color: #fff;
    padding: 0.4em;
    padding-inline: 1em;
    align-items: center;
    font-size: 0.9em;
    margin-top: 5.3em;
    margin-left: 2.3em;
    display: none;
}
footer{
   display: flex;
   justify-content: center;
}
footer div section article i{
    color: #777;
    cursor: pointer;
    transition: 0.1s;
    font-style: normal;
    background: #fff;
    padding: 0.2em;
    padding-inline: 0.4em;
    border-radius: 0.3em;
}
footer div section article i:active{
    scale: 0.9;
}
footer div section article i:hover{
    background: var(---color-one);
    color: #fff;
}
footer div section article:nth-child(2) span{
    font-size: 1em;
    color: #777;
}
footer div section article:nth-child(2) span:nth-child(3){
    cursor: pointer;
}
footer div section article:nth-child(2) span:nth-child(3):hover{
    color: var(---color-one);
}
footer div section article:nth-child(2) span:nth-child(3):active{
    color: var(---color-one);
    text-decoration: underline;
    text-underline-offset: 4px;
}
footer div section article:nth-child(2) i{
    border-radius: 0.2em;
    padding-bottom: 0.4em;
}
footer div section article:nth-child(2) i:hover{
    background: #fff;
    color: var(---color-one);
}
.bi-link{
    transform: rotate(360deg);
}



/* RESPONSIVE MOBILE */
/* MOBILE */
/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

@media (min-width: 150px) and (max-width: 2000px) {
    body{
    overflow-x: hidden;
    }
}
/**
 * responsive larger than 150px screen
 */

@media (min-width: 150px) {
    .box {
        display: flex;
        gap: 0;
    }

    .box .eye {
        scale: 0.8;
    }

    /* FORM MDP */
    /* PASS */
    main section {
        width: max-content;
    }

    footer {
        width: max-content;
        margin: 0 auto;
    }
}

/**
   * responsive larger than 450px screen
   */

@media (min-width: 450px) {
    .box {
        display: flex;
        gap: 0.1em;
    }

    .box .eye {
        scale: 0.9;
    }

    /* FORM MDP */
    /* PASS */
    main section {
        width: max-content;
    }

    footer {
        width: max-content;
        margin: 0 auto;
    }
}

/**
   * responsive larger than 580px screen
   */

@media (min-width: 580px) {

    /* FORM MDP */
    /* PASS */
    main section {
        width: max-content;
    }

    footer {
        width: max-content;
        margin: 0 auto;
    }

}


/**
   * responsive larger than 768px screen
   */

@media (min-width: 768px) {
    .box {
        display: flex;
        gap: 1em;
    }

    .box .eye {
        scale: 1;
    }
}

@media (min-width: 1024px) {
    .box {
        display: flex;
        gap: 1em;
    }

    .box .eye {
        scale: 1;
    }

    /* FORM MDP */
    /* PASS */
    main section {
        width: max-content;
    }

    footer {
        width: max-content;
        margin: 0 auto;
    }
}